<link rel="import" href="../polymer/polymer-element.html">
<script src="../auth0.js/build/auth0.min.js"></script>

<dom-module id="auth0-authenticator">
  <template>
  </template>

  <script>
    /**
     * `auth0-authenticator`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    let auth0ClientKey = Symbol();
    let scheduleKey = Symbol();
    class Auth0Authenticator extends Polymer.Element {
      static get is() { return 'auth0-authenticator'; }
      static get properties() {
        return {
          scope: {
            type: String,
            value: "openid profile email"
          },
          responseType: {
            type: String,
            value: 'token id_token'
          },
          audience: {
            type: String,
            value: window.location.origin.indexOf("localhost") >= 0 ? `https://${window.location.hostname.split('.localhost').join('')}/` : `${window.location.origin}/`
          },
          client: {
            type: String
          },
          connection: {
            type: String
          },
          callbackUrl: {
            type: String,
            value: new URL(window.location.href).searchParams.get("redirect") ? new URL(window.location.href).searchParams.get("redirect") : window.location.href.split("#")[0]
          },
          logoutUrl: {
            type: String
          },
          tenant: {
            type: String
          },
          redirect: {
            type: Boolean,
            value: false
          },
          profile: {
            type: Object,
            notify: true
          },
          token: {
            type: String,
            notify: true
          },
          decodedToken: {
            type: String,
            notify: true
          },
          adminParamName: {
            type: String,
            value: "adminManagement" 
          }
        };
      }

      static get observers() {
        return [
          '_trigger(tenant,client,connection)'
        ];
      }

      constructor() {
        super();
        Auth0Authenticator.instance = this;
        console.log("Auth0 instance set");
      }

      ready() {
        super.ready();
        var that = this;
        //Catch event when tab become active
        window.addEventListener("focus", function () {
          that._scheduleRenewal();
        });
      }

      //Properties are set
      _trigger(tenant, client, connection) {
        if(!tenant || !client) return;
        this._adminManagement = new URL(window.location.href).searchParams.get(this.adminParamName);
        this._redirectLocation = new URL(window.location.href).searchParams.get("redirect");
        //Compute a proper callback URL
        this.callbackUrl = new URL(this.callbackUrl, window.location.origin).href

        this[auth0ClientKey] = new auth0.WebAuth({
          domain: this.tenant + '.auth0.com',
          clientID: this.client,
          scope: this.scope,
          redirectUri: this.callbackUrl,
          responseType: this.responseType,
          audience: this.audience,
        });

        var that = this;
        //Fetch the Hash if any
        this[auth0ClientKey].parseHash({hash: window.location.hash}, function (err, data) {
          data = data == null ? {} : data;
          if (err) {
            data.state = err.state;
          }
          that._verify(err, data);
        });
      }

      _verify(err, params) {
        if (err) {
          console.log("Error on authentication");
          console.log(err);
          window.location.hash = ""; //This is only to cope with web-ui iron-location...
          history.pushState("", document.title, window.location.pathname + window.location.search);
          this.dispatchEvent(new CustomEvent('login-error', { bubbles: true, composed: true, detail: err }));
          return;
        }
        var data = params
        if (data.state == "RENEW") { //Is in renewal hidden iframe
          //Notify parent iframe of an update
          parent.postMessage(err ? err : data, window.location);
          //Stop everything
          window.close();
          return;
        }
        if (!data.accessToken) { //First check
          //Pull from localstorage
          data = this.getToken() || {};
        }
        if (data.accessToken && this._checkExpiration(data.accessToken) > 0) { //Second check
          var decoded = JSON.parse(window.atob(data.accessToken.split(".")[1]));
          if(decoded.azp !== this.client){ //Check for token not issued by the client
            this.dispatchEvent(new CustomEvent('login-error', { bubbles: true, composed: true, detail: new Error("Token was not issued for this application") }));
            return;
          }

          //TODO JBO, Perform a check to make sure the token match the hostname

          //Set the profile
          this.profile = data.idTokenPayload;

          this._storeToken(data);

          //Perform redirection if any
          if (this._redirectLocation) {
            window.location.href = this._redirectLocation;
          } else if (!this.redirect) {
            window.location.hash = ""; //This is only to cope with web-ui iron-location...
            history.pushState("", document.title, window.location.pathname + window.location.search);
          }
          this._scheduleRenewal();
        } else {
          this.login();
        }
      }

      // Return time in seconds until it is going to expire
      _checkExpiration(token) {
        var decoded = JSON.parse(window.atob(token.split(".")[1]));
        //Assume expiration after 2 minutes remaining
        return decoded.exp - ((new Date().getTime() / 1000) + (60 * 2));
      }

      _scheduleRenewal() {
        if (document.hidden) {
          return;
        }
        var that = this;
        if (this[scheduleKey]) {
          clearTimeout(this[scheduleKey]);
        }
        this[scheduleKey] = setTimeout(function () {
          var token = that.getToken();
          if (token && token.accessToken && that._checkExpiration(token.accessToken) < 0) {
            that._renewToken(function (err) {
              if (err) {
                console.log(err);
                that.dispatchEvent(new CustomEvent('auto-login', { bubbles: true, composed: true, detail: err }));
              } else {
                that.dispatchEvent(new CustomEvent('auto-login', { bubbles: true, composed: true, detail: {} }));
              }
              that._scheduleRenewal();
            });
          } else {
            that._scheduleRenewal();
          }
        }, 5000);
      }

      _renewToken(cb) {
        var that = this;
        this[auth0ClientKey].renewAuth({
          state: "RENEW",
          usePostMessage: true,
          connection: this.connection
        }, function (err, authResult) {
          if (authResult && authResult.accessToken) {
            that._storeToken(authResult);
            if (cb) {
              cb();
            }
          } else if (cb) {
            cb(err || authResult);
          }
        });
      }

      login() {
        if (this.redirect) {
          let url = new URL(this[auth0ClientKey].baseOptions.redirectUri);
          url.searchParams.set("redirect", window.location.href)
          this[auth0ClientKey].baseOptions.redirectUri = url.href;
        }
        let connection = this._adminManagement ? "admin" : this.connection;
        this[auth0ClientKey].authorize({
          connection: connection,
          state: this._randomState()
        });
      }

      logout() {
        this._deleteToken();
        if (!this.logoutUrl) {
          this.logoutUrl = window.location.href.split("#")[0];
        }
        let connection = this._adminManagement ? "admin" : this.connection;
        this[auth0ClientKey].logout({
          connection: connection,
          clientID: this.client,
          returnTo: this.logoutUrl,
          federated: true
        });
      }

      _storeToken(newToken) {
        this.set("token", newToken.accessToken);
        this.set("decodedToken", JSON.parse(window.atob(newToken.accessToken.split(".")[1])))
        var token = JSON.parse(JSON.stringify(newToken));
        delete token.state;
        var client = JSON.parse(window.atob(token.accessToken.split(".")[1])).azp
        let stringToken = JSON.stringify(token);
        localStorage.setItem("auth-" + client, stringToken);
        this.dispatchEvent(new Event("token-loaded"));
      }

      _deleteToken() {
        localStorage.removeItem("auth-" + this.client);
      }

      getToken() {
        let stringToken = localStorage.getItem("auth-" + this.client);
        try{
          return stringToken ? JSON.parse(stringToken) : null;
        }catch(err){
          console.log("Can't parse the token", err);
          return null;
        }
      }

      _randomState() {
        return Math.random().toString(36).substr(2);
      };
    }

    window.customElements.define(Auth0Authenticator.is, Auth0Authenticator);
  </script>
</dom-module>