<link rel="import" href="/bower_components/polymer/polymer-element.html">
<script src="/bower_components/auth0.js/build/auth0.min.js"></script>
<script src="/bower_components/crypto-js/crypto-js.js"></script>

<dom-module id="auth0-redirect">
  <template>
  </template>

  <script>
    /**
     * `auth0-redirect`
     * 
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Auth0Redirect extends Polymer.Element {
      static get is() { return 'auth0-redirect'; }
      static get properties() {
        return {
          logoutUrl: {
            type: String,
            value: '/',
            notify: true
          },
        };
      }

      ready(){
        super.ready();
        var logoutUrl = new URL(this.logoutUrl,window.location.origin).href
        var auth0 = new window.auth0.WebAuth({
          domain: 'abcd.auth0.com',
          clientID: "abcd"
        });
        var that = this;
        auth0.parseHash(window.location.hash, function(err, data) {
          data = data == null ? {} : data;
          if(err){
            data.state = err.state;
          }
          if(data.state == "RENEW"){ //Is in renewal hidden iframe
            parent.postMessage(err ? err : data, window.location);
            //Stop everything
            window.close();
            return;
          }else{
            if(data.state){
              var rawStr = localStorage.getItem("auth-state-"+data.state);
              localStorage.removeItem("auth-state-"+data.state);
              if(rawStr == null){
                console.log("Error redirecting !!!!");
                return;
              }
              var obj = JSON.parse(rawStr);
              that.client = obj.client;
              that._storeToken(data);
              window.location.href = obj.url;
            }else{
              window.location.href = logoutUrl;
            }
          }
        });
      }

      _storeToken(data){
        let encrypted = CryptoJS.AES.encrypt(JSON.stringify(data), this.client);
        localStorage.setItem("auth-"+this.client,encrypted);
      }
    }

    window.customElements.define(Auth0Redirect.is, Auth0Redirect);
  </script>
</dom-module>
