<link rel="import" href="auth0-authenticator.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="../abas-config/abas-config.html">

<script>
    ((window) => {
        //Create Cache for JSON
        if (!window.fetchJsonResponses) {
            window.fetchJsonResponses = {};
            //kill cache every 30 seconds
            window.setInterval(function () {
                window.fetchJsonResponses = {}
            }, 30 * 1000)
        }
        // in practice this will work because config is loaded before
        // but actually its crap
        // this is legacy code to patch in the new auth system to avoid rewriting every usage in our widgets.
        // It must be replaced and the clientID must be a function parameter
        let storagePropertyID = null
        let language = navigator.language

        window.addEventListener('app-localize-language-changed', event => language = event.detail.language)

        //this causes a lot of pain and makes the app super slow DON`T send Token via very slow msg BUS
        //Please remove and replace
        postal.subscribe({
            channel: AbasConfig.channel,
            topic: AbasConfig.topic.configuration,
            callback: function (data) {
                storagePropertyID = `auth-${data.clients.dashboard}`
            }
        }).enlistPreserved()

        // Add authorization header and forward to window.fetch
        window.auth0Fetch = function (input, init = {}) {
            if (!init.hasOwnProperty('headers')) {
                init['headers'] = new Headers(); //Initialize headers if necessary
            }
            //Set Accept-Language so Backend knows what to send back
            if (!init['headers'].get('Accept-Language') || init['headers'].get('Accept-Language') != language) {
                init['headers'].append('Accept-Language', language + ',en,de')
            }

            try {
                //This does only work sometimes
                if (storagePropertyID === null) {
                    //Well you are F***ed MSG bus wasn`t ready while your app was
                    var keys = Object.keys(localStorage);
                    keys.forEach(key => {
                        if (key.endsWith('-user')) {
                            storagePropertyID = key.replace('-user', '');
                        }
                    })
                }
                let accessToken = JSON.parse(localStorage.getItem(storagePropertyID)).accessToken
                if (accessToken) {
                    init.headers.append("Authorization", `Bearer ${accessToken}`);
                }
                init.credentials = "same-origin"; //Send cookies only if on same origin
                return fetch(input, init);
            } catch (error) {
                return Promise.reject(error)
            }
        }

        window.auth0FetchJsonCache = function (url = "", options = {}, errorMsg = "") {
            let response = window.fetchJsonResponses[url];
            if (!response) {
                let response = window.auth0Fetch(url, options)
                    .then((resp) => {
                        if (resp.status === 200) {
                            return resp.json();
                        }
                        throw new Error(errorMsg)
                    })
                window.fetchJsonResponses[url] = response;
                return response;
            } else {
                return response;
            }
        }
    })(window);
</script>