<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="auth0-authenticator.html">

<dom-module id="auth0-weboscket">
  <template>
  </template>

  <script>
    /**
     * `auth0-websocket`
     * 
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Auth0Websocket extends Polymer.Element {
      static get is() { return 'auth0-websocket'; }
      static get properties() {
        return {
          url: {
            type: String
          },
          auto: {
            type: Boolean,
            value: false,
            observer: '_autoChanged'
          },
          token: {
            type: String,
            notify: true,
          },
          _ws: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        if (!Auth0Authenticator || !Auth0Authenticator.instance) {
          console.log("You need to have an abas-authenticator initialized")
          return;
          // throw new Error("You need to have an abas-authenticator initialized");
        }
        Auth0Authenticator.instance.addEventListener("token-loaded", (() => {
          this.token = Auth0Authenticator.instance.token;
        }).bind(this));
        if (Auth0Authenticator.instance.token) {
          this.token = Auth0Authenticator.instance.token;
        }
        if (this.auto) {
          this.connect()
        }
      }

      connect() {
        var url = new URL(this.url);
        url.searchParams.set("access_token", this.token);
        if (url.protocol.startsWith("http")) {
          url.protocol = url.protocol.replace("http", "ws");
        }
        this.close();
        var that = this;
        this._ws = new WebSocket(url.toString());
        this._ws.addEventListener('open', (event) => {
          that.dispatchEvent(new CustomEvent('open', {}));
        });
        this._ws.addEventListener('message', (event) => {
          that.dispatchEvent(new CustomEvent('message', { detail: event.data }));
        });
      }

      send(data) {
        this._ws.send(data);
      }

      close(){
        if (this._ws && this._ws.readyState == 1) { //Is open ?
          this._ws.close();
        }
      }

      _autoChanged() {
        if (this.auto && !this._ws) {
          this.connect();
        }
      }

    }

    window.customElements.define(Auth0Websocket.is, Auth0Websocket);
  </script>
</dom-module>