<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="auth0-authenticator.html">

<dom-module id="auth0-action">
  <template>
  </template>

  <script>
    /**
     * `auth0-action`
     * 
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Auth0Action extends Polymer.Element {
      static get is() { return 'auth0-action'; }
      static get properties() {
        return {
          action: {
            type: String
          },
          now: {
            type: Boolean,
            value: false
          },
          token: {
            type: String,
            notify: true,
          }
        };
      }

      ready() {
        super.ready();
        if (!Auth0Authenticator || !Auth0Authenticator.instance) {
          console.log("You need to have an abas-authenticator initialized")
          return;
          // throw new Error("You need to have an abas-authenticator initialized");
        }
        Auth0Authenticator.instance.addEventListener("token-loaded", (() => {
          this.token = Auth0Authenticator.instance.token;
        }).bind(this));
        if (Auth0Authenticator.instance.token) {
          this.token = Auth0Authenticator.instance.token;
        }
        if (this.now) {
          this.do()
        }
      }

      do(action) {
        action = action ? action : this.action
        if (typeof Auth0Authenticator.instance[action] !== "function") {
          throw new Error("Action does not exist, use: login, logout, getToken");
        }
        return Auth0Authenticator.instance[action]();
      }

      getToken(client) {
        let stringToken = localStorage.getItem("auth-" + client);
        try{
          return stringToken ? JSON.parse(stringToken) : null;
        }catch(err){
          console.log("Can't parse the token", err);
          return null;
        }
      }
    }

    window.customElements.define(Auth0Action.is, Auth0Action);
  </script>
</dom-module>