<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../abas-config/abas-config.html">
<link rel="import" href="auth0-action.html">

<dom-module id="auth0-ajax">
  <template>
      <auth0-action token="{{token}}"></auth0-action>
  </template>
  <script>
    class Auth0Ajax extends window.customElements.get("iron-ajax") {
      static get is() { return 'auth0-ajax'; }
      static get properties() {
        return {
          retry: {
            type: Boolean,
            value: true
          },
          storagePropertyID: {
              type: Object
          }
        }
      }

      connectedCallback () {
        postal.subscribe({
            channel: AbasConfig.channel,
            topic: AbasConfig.topic.configuration,
            callback: function (data) {
                this.set('storagePropertyID', `auth-${data.clients.dashboard}`)
            }
        }).enlistPreserved()
      }

      get requestHeaders() {
        let headers = super.requestHeaders;

        let accessToken = JSON.parse(window.localStorage.getItem(this.storagePropertyID)).accessToken
        if (accessToken) {
            headers["authorization"] = `Bearer ${accessToken}`
        }

        return headers;
      }

      _handleError(request, error){
        if(request.status == 401 && this._retryAttempt){
          this._retryAttempt = false;
          let _handleError = super._handleError;
          let generateRequest = super.generateRequest;
          let that = this;
          Auth0Authenticator.instance._renewToken(function(err){
            if(err){
              _handleError.apply(that, [request, error]);
            }
            generateRequest.apply(that);
          });
          return;
        }
        super._handleError(request, error);
      }

      generateRequest(){
        this._retryAttempt = this.retry;
        return super.generateRequest();
      }

    }
    window.customElements.define(Auth0Ajax.is, Auth0Ajax);

  </script>
</dom-module>